#content {
  padding: 30px 10px 0 10px;
  .wrapper-news {
    min-width: 350px;
    padding-bottom: 195px;
  }
  .content-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 195px;
  }
  #news {
    width: 350px;
    height: 560px;
    background-color: $title-footer-nav-main-color;
    color: rgb(255, 255, 255);
    position: relative;
    h2 {
      font-size: $content-size-title;
      font-weight: 700;
      position: absolute;
      left: 33px;
      top: 44px;
      margin: 0;
    }
    .archive {
      float: right;
      padding-right: 52px;
      text-decoration: underline;
    }
  }
  #company {
    padding-bottom: 195px;
    width: 569px;
    height: 493px;
    color: $title-footer-nav-main-color;
    h2 {
      font-size: $content-size-title;
      margin-top: 0;
    }
  }
  .italic {
    font-style: italic;
  }
  .block-text {
    padding: 88px 52px 0 33px;
  }
}