#menu {
  background-color: $title-footer-nav-main-color;
  .navigation-links {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 26px 251px 27px 247px;
  }
  li {
    list-style-type: none;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      border-right: 2px rgb(255, 255, 255) solid;
      padding: 0 9px;
    }
    &:last-child {
      padding-left: 9px;
    }
  }
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: $menu-size;
  }
  a:hover {
    text-decoration: underline;
  }
  width: 100%;
}