#slider {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  .wrap-slider {
    padding: 0 10px;
  }
  img {
    overflow: hidden;
    width: 100%;
    height: auto;
  }
}